ul {
  list-style-type: none;
}
.projectBtn {
  background-image: linear-gradient(turquoise, yellow);
  color: black;
}

.projectTitle {
  font-size: large;
  text-align: center;
  text-decoration: underline;
}

.project-page-title {
  text-align: center;
}
.row {
  margin-bottom: 5%;
}

.col-card {
 
  margin-bottom: 5%;
}
