hr{
    border: 4px solid blue;
    border-radius: 5px;
    margin-left: 10%;
    margin-right:10%;
}

.section-title{
    text-align: center;
}

.skills-section{
    text-align: center;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
}

.intro{
    text-align: center;
}



.row-intro{
    margin-bottom: 5%;
}